/* All of my stylings (aside from the given styling in site.css are here. They will override any initial styling in site.css. */

@import 'https://fonts.googleapis.com/css?family=Lora';
body {
  background-color: white;
  font-family: 'Lora', sans-serif;
}

/* Site Template */
#title h1 {
  text-align: center;
}

/* Navigation */
nav {
  background-color: #253494;
  margin: 0 auto 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

nav a {
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  padding: 0 4%;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  background-color: #D33939;
  transition: 0.3s;
}

/* Content Container */
#container {
  background-color: white;
  display: block;
  font-size: 18px;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

#description {
    width: 90%;
    margin: auto;
    text-align: justify;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}

h2 {
    text-align: center;
}

h3 {
    color:#253494; 
}

#buttons {
    text-align: center;
}

.bold {
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #253494;
}

/* Footer */
footer {
  background-color: #253494;
  color: white;
  display: block;
  font-size: 10px;
  margin: 10px auto 0 auto;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

footnote {
    padding: 5px 0;
}

/* Styling by Section */ 

#local_nav > span {
    display: block;
    padding: 0.5em;
}

#content {
    display: inline-block;
    margin-top: 0;
    margin-left: 12em;
    word-break: break-all;
    border-left: medium solid #253494;
    padding-left: 2em;
}

#local_nav {
    float: left;
    width: 15%;
    position: fixed;
    padding-left: 3em;
}

#local_nav a {
    text-decoration: none; 
    margin-left: 0;
}

th {
    padding-right: 1.5em;
    text-align: left;
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

#buttons {
    padding-bottom: 1em;
}

#pics {
    width: 80%;
    margin: auto;
}

/* media queries */

@media screen and (max-width: 480px) {
  img {
    display: none;
  }

  #local_nav {
    display: none;
  }

  #content {
    width: 100%;
    border-left: none;
    margin-left: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 1200px) {

}